<html dir="rtl">
    <head>
        <title>Abjad</title>

        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <script src="https://cdn.tailwindcss.com"></script>

        <!-- HTMX -->
        <script src="https://unpkg.com/htmx.org@1.7.0" integrity="sha384-EzBXYPt0/T6gxNp0nuPtLkmRpmDBbjg6WmCUZRLXBBwYYmwAUxzlSGej0ARHX0Bo" crossorigin="anonymous"></script>

        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Mirza&display=swap" rel="stylesheet">

    </head>

    <body>
        <style>
            html {
                font-family: 'Mirza', cursive;
            }
            .vl {
                border-left: 4px solid rgb(160, 160, 160);
                height: 300px;
                }
        </style>

        <div class="flex justify-center items-center w-full h-full">
                <p id="result" class="text-2xl hover:text-yellow-400 md:mr-3">
                    محاسبه ابجد حروف
                </p>

            
            <span class="vl rounded mx-4"></span>

        <form hx-post="/api"
              hx-target="#result"
              hx-swap="innerHTML">

                <div class="mb-6 md:ml-3">
                    <label for="text" class="block mb-2 text-sm font-medium text-gray-900">نام مورد نظر</label>
                    <input type="text" id="text" name="text" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5" placeholder="اینجا وارد کنید..." required>
                </div>

                <div class="flex items-center mb-4 md:ml-3">
                    <input id="kabir" type="radio" name="mode" value="kabir" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300" required>
                    <label for="kabir" class="block mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                      ابجد کبیر
                    </label>
                  </div>
                  <div class="flex items-center mb-4 md:ml-3">
                    <input id="saqir" type="radio" name="mode" value="saqir" class="w-4 h-4 border-gray-300 focus:ring-2 focus:ring-blue-300" required>
                    <label for="saqir" class="block mr-2 text-sm font-medium text-gray-900 dark:text-gray-300">
                      ابجد صغیر
                    </label>
                  </div>

                <button type="submit"
                        class="text-white bg-yellow-400 hover:bg-yellow-500 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                >محاسبه</button>
        </form>
    </div>

      <footer class="footer w-full bottom-0 fixed justify-center p-4 bg-gray-50 rounded-lg shadow md:flex md:items-center md:justify-between md:p-6" style="font-family: monospace;">
          <span class="text-sm text-gray-500 sm:text-center">Made with ❤️ by <a href="https://github.com/MojtabaMonfared">MojtabaMonfared</a>
          </span>
      </footer>

    </body>
</html>